<%= simple_form_for template do |f| %>
  <%= f.input :identifier %>
  <%= f.input :title %>
  <%= f.input :content, class: 'snuownd-in' %>

  <div class="snuownd-out"></div>

  <%= f.button :submit %>
<% end %>
